<div>
  {{#link-to "index"}}<button>All</button>{{/link-to}}
  {{#link-to "restaurant"}}<button>Restaurant</button>{{/link-to}}
  {{#link-to "landmark"}}<button>Landmark</button>{{/link-to}}
  {{#link-to "hotel"}}<button>Hotel</button>{{/link-to}}
</div>
