<br>
<hr>

<div style='text-align: center'>
  {{new-topic saveTopic="saveTopic"}}
</div>

<hr>

<div class='container row col-md-8'>
  {{#each model.all as |topic|}}
    {{topic-tile topic=topic}}
  {{/each}}
</div>
